<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{{{ PRODUCT_NAME }}}</title>
  <link rel="shortcut icon" href="TemplateData/favicon.ico">
  <link rel="stylesheet" href="TemplateData/style.css">
  <section id="loading-screen">

    <div id="loader"></div>

  </section>
</head>

<body>
  <div id="unity-container" class="unity-desktop">
    <canvas id="unity-canvas"></canvas>
    <!-- <div id="unity-loading-bar">
      <div id="unity-logo"></div>
      <div id="unity-progress-bar-empty">
        <div id="unity-progress-bar-full"></div>
      </div>
    </div> -->
    <!-- <div id="unity-mobile-warning">
        WebGL builds are not supported on mobile devices.
      </div> -->
    <!-- <div id="unity-footer">
        <div id="unity-webgl-logo"></div>
        <div id="unity-fullscreen-button"></div>
        <div id="unity-build-title">Unity WebTemplate_2020.2</div>
      </div> -->
  </div>
  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <p><iframe width="560" height="315" src="https://www.youtube.com/embed/iSpTx7zo8r4" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </p>
    </div>

  </div>
  <script>
    var buildUrl = "Build";
      var loaderUrl = buildUrl + "/{{{ LOADER_FILENAME }}}";
      var config = {
        dataUrl: buildUrl + "/{{{ DATA_FILENAME }}}",
        frameworkUrl: buildUrl + "/{{{ FRAMEWORK_FILENAME }}}",
        codeUrl: buildUrl + "/{{{ CODE_FILENAME }}}",
#if MEMORY_FILENAME
        memoryUrl: buildUrl + "/{{{ MEMORY_FILENAME }}}",
#endif
#if SYMBOLS_FILENAME
        symbolsUrl: buildUrl + "/{{{ SYMBOLS_FILENAME }}}",
#endif
        streamingAssetsUrl: "StreamingAssets",
        companyName: "{{{ COMPANY_NAME }}}",
        productName: "{{{ PRODUCT_NAME }}}",
        productVersion: "{{{ PRODUCT_VERSION }}}",
      };

    var container = document.querySelector("#unity-container");
    var canvas = document.querySelector("#unity-canvas");
    //var loadingBar = document.querySelector("#unity-loading-bar");
    //var progressBarFull = document.querySelector("#unity-progress-bar-full");
    //var fullscreenButton = document.querySelector("#unity-fullscreen-button");
    //var mobileWarning = document.querySelector("#unity-mobile-warning");

    if (/iPhone|iPad|iPod|Android/i.test(navigator.userAgent)) {
      container.className = "unity-mobile";
      config.devicePixelRatio = 1;
      //window.open("https://s3.ap-south-1.amazonaws.com/shiningcloud.com/eoi2020m/index.html","_self")
      // mobileWarning.style.display = "block";
      // setTimeout(() => {
      //   mobileWarning.style.display = "none";
      // }, 5000);
      canvas.style.width = "100%";
      canvas.style.height = "100%";
    } else {
      canvas.style.width = "100%";
      canvas.style.height = "100%";
    }
    //loadingBar.style.display = "block";

    var script = document.createElement("script");
    var UnityLayerInstance = null;
    script.src = loaderUrl;
    script.onload = () => {
      createUnityInstance(canvas, config, (progress) => {
        if (progress == 1) {


        }
        //progressBarFull.style.width = 100 * progress + "%";
      }).then((unityInstance) => {
        UnityLayerInstance = unityInstance;
        const loadingScreen = document.getElementById('loading-screen');
        loadingScreen.classList.add('fade-out');
        loadingScreen.addEventListener('transitionend', onTransitionEnd);
        //loadingBar.style.display = "none";
        // fullscreenButton.onclick = () => {
        //   unityInstance.SetFullscreen(1);
        // };
      }).catch((message) => {
        alert(message);
      });
    };

    function onTransitionEnd(event) {

      event.target.remove();

    }

    var modal = document.getElementById("myModal");
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
      modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    document.body.appendChild(script);
  </script>
</body>

</html>